PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="devj-production-jwt-secret-key-3d-portfolio-2026"

# Appwrite Cloud Configuration (https://appwrite.io/)
VITE_APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a969fd7003709708d27"
VITE_APPWRITE_DATABASE_ID="devj_portfolio"
VITE_APPWRITE_COLLECTION_PROFILE="profiles"
VITE_APPWRITE_COLLECTION_SKILLS="skills"
VITE_APPWRITE_COLLECTION_ACHIEVEMENTS="achievements"
VITE_APPWRITE_COLLECTION_PROJECTS="projects"
VITE_APPWRITE_COLLECTION_HOBBIES="hobbies"
VITE_APPWRITE_COLLECTION_MESSAGES="messages"
VITE_APPWRITE_BUCKET_ID="portfolio-assets"
