PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="devj-production-jwt-secret-key-3d-portfolio-2026"

# Appwrite Cloud Configuration (https://appwrite.io/)
VITE_APPWRITE_ENDPOINT="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a969fd7003709708d27"
VITE_APPWRITE_DATABASE_ID="6a96aa5b003b6af4827b"
VITE_APPWRITE_COLLECTION_PROFILE="6a96aa940026789aaa03"
VITE_APPWRITE_COLLECTION_SKILLS="6a96ace40004e4cf7979"
VITE_APPWRITE_COLLECTION_ACHIEVEMENTS="6a96b11f002f88e7773e"
VITE_APPWRITE_COLLECTION_PROJECTS="6a96b1b00031b6fa4f8a"
VITE_APPWRITE_COLLECTION_HOBBIES="6a96b1f90007d2b11849"
VITE_APPWRITE_COLLECTION_MESSAGES="messages"
VITE_APPWRITE_BUCKET_ID="portfolio-assets"
